# Binaries
*.pyc
.tox/
.env/
venv/
.cache/
~/
build/
dist/
*.egg-info/
.eggs/
docs/_build/doctrees/
.DS_Store

# IDE related
.idea/

# tests
junit-result.xml
htmlcov/
.coverage
__pycache__/
.pytest_cache/
README.html
