name: build-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "2.7", "3.9", "3.10" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install Test Dependencies
        run: |
          pip install -r test-requirements.txt
          pip install codecov
      - name: Check Formats with flake8
        run: flake8 stockstats.py test.py
      - name: Run Tests
        run: |
          py.test --cov=./ test.py
      - name: Publish Test Results
        if: ${{ matrix.python-version == '3.10' }}
        run: codecov
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}